.card{
  height: 100%;
}
.transparent{
  background-color: transparent;
}

.inventory{
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff00;
}
@keyframes glowingBackground {
  0% {
    box-shadow: 0 0 8px 3px rgba(255, 0, 0, 0.7);
  }
  25% {
    box-shadow: 0 0 12px 6px rgba(255, 0, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 15px 10px rgba(255, 0, 0, 0.8);
  }
  75% {
    box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.6);
  }
  100% {
    box-shadow: 0 0 8px 3px rgba(255, 0, 0, 0.7);
  }
}
.inventory-item{
  background-color: #212121;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  padding: 30px;
  animation: glowingBackground 10s infinite;
  color: wheat;
  max-width: 192px;
}
:host ::ng-deep {
  .dock-window {
      width: 100%;
      height: 100%;
      position:fixed;
      background: url('https://i.pinimg.com/originals/fd/b2/1c/fdb21c0e4f3dbb6ccd9a63c68fce8645.gif');
      background-repeat: no-repeat;
      background-size: cover;
  }

  .p-dock {
      z-index: 1000;
  }
  .p-dock-list-container{
    background-color: #212121;
  }

  .dock-advanced {

      .p-dialog-mask{
        align-items: stretch;
        position: absolute;
      }
      .p-toast {
          position: absolute;
      }

      .p-dialog {
          .p-dialog-header {
              padding: .2rem;
          }

          .p-dialog-content {
              padding: 0;
              background-color: #212121ba;
              backdrop-filter: blur(10px);
          }

          p {
              margin-top: 0;
          }

          .p-terminal {
              background-color: #212121;
              color: #07a016;
              border: 0 none;
              min-height: 18rem;
              height: 100%;

              .p-terminal-command {
                  color: #80CBC4;
              }

              .p-terminal-prompt {
                  color: #FFD54F;
              }

              .p-terminal-response {
                  color: #9FA8DA;
              }
              .p-terminal-error{
                color: #dc3e3e;
            }
          }
          .p-terminal:active {
            box-shadow: 0 5px 5px -3px rgba(255, 98, 98, 0.2),
                        0 8px 10px 1px rgba(0, 0, 0, 0.14),
                        0 3px 14px 2px rgba(0, 0, 0, 0.12);
          }

          .p-tree {
              height: 100%;
              border-radius: 0;
              border-left-width: 0;
              border-right-width: 0;
              border-bottom-width: 0;
          }
      }
      .p-tabview-nav,.p-tabview-nav-content,.p-tabview-nav-container,.p-highlight,.p-element,.p-tabview-panels{
        background-color: #21212100;
        border:transparent;
      }.p-tabview-nav-link{
        background-color: #212121;
        border-radius: 30px;
      }
      .p-toast {
          top: 20px;
      }
  }
}
