<div class="card">
  <div class="dock-window dock-advanced">
      <p-dock [model]="dockItems" position="right">
          <ng-template pTemplate="item" let-item>
              <img [src]="item.icon" [alt]="item.label" width="100%" />
          </ng-template>
      </p-dock>
      <p-dialog #help
          [position]="'topleft'"
          [(visible)]="displayFinder"
          [breakpoints]="{ '960px': '50vw' }"
          [style]="{ width: '30vw', height: '18rem' }"
          [draggable]="true"
          [resizable]="true">
              <p-tree [value]="nodes" />
      </p-dialog>
      <p-dialog #terminal
          [maximizable]="true"
          [(visible)]="displayTerminal"
          [breakpoints]="{ '960px': '50vw' }"
          [style]="{ width: '30vw' }"
          [draggable]="true"
          [resizable]="true">
              <p-terminal
                  welcomeMessage="Bienvenido aventurero espacial {{ currentDate | date:'HH:mm EEE, MMM d' }}"
                  prompt="terminal $" />
      </p-dialog>

      <p-dialog #ship class="transparent"
      [position]="'bottomleft'"
      [maximizable]="true"
      [(visible)]="displayInfo"
      [breakpoints]="{'960px': '50vw'}"
      [style]="{width: '30vw'}"
      [draggable]="true"
      [resizable]="true">
      <div class="ui-g" style="display: flex; flex-direction: column; background-color: transparent; margin:20px; padding:20px;">
        <div style="display: flex; flex-direction: row; background-color: transparent; padding:20px;justify-content: space-around;align-items: center;">
            <div class="ui-g-12 ui-md-4" style="border-radius: 20px;">
                <img src="

                https://c0.klipartz.com/pngpicture/875/400/gratis-png-arte-abstracto-amarillo-y-negro-arte-espacial-sprite-creatividad-de-nave-espacial-nave-espacial-thumbnail.png

                " style="max-width: 256px; background-color: transparent; border-radius: 40px;">
            </div>
            <div class="ui-g-12 ui-md-8" style="background-color: transparent; border-radius: 40px; margin: 20px;">
                <p-panel header="Zuil's Strttttttttttttttttttats" >
                    <ul>
                        <li>Velocidad: 38</li>
                        <li>Carga: 30/30</li>
                        <li>Tripulacion: 0.00</li>
                        <li>Creditos: 1.00</li>
                    </ul>
                </p-panel>
            </div>
        </div>
        <div class="ui-g-12 transparent">
            <p-tabView class="transparent">
                <p-tabPanel header="Inventario" class="transparent">
                    <div class="inventory transparent" >
                        <div  pBadge value="2"  badgeSize="xlarge" class="inventory-item" *ngFor="let item of inventoryItems" >
                          <span>{{item.nombre}}</span>
                          <img src="{{item.imagen}}" alt="{{item.nombre}}" style="width: 100px; height: 100px;">
                        </div>
                    </div>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>

  </p-dialog>

    <p-dialog #star
    class="transparent"
    [position]="'bottomright'"
    [maximizable]="true"
    [(visible)]="displayStar"
    [breakpoints]="{ '960px': '50vw' }"
    [style]="{ width: '30vw' }"
    [draggable]="true"
    [resizable]="true">
    <div class="ui-g" style="display: flex; flex-direction: column; background-color: transparent; margin: 20px; padding: 20px;">
        <div style="display: flex; flex-direction: row; background-color: transparent; padding: 20px; justify-content: space-around; align-items: center;">
        <div class="ui-g-12 ui-md-4" style="border-radius: 20px;">
            <img src="https://w7.pngwing.com/pngs/146/912/png-transparent-star-sprite-stars-angle-image-file-formats-stars.png"
                style="max-width: 150px; background-color: transparent; border-radius: 10px;">
        </div>
        <div class="ui-g-12 ui-md-8" style="background-color: transparent; border-radius: 40px; margin: 20px;">
            <p-panel header="Información de la Estrella">
            <p>Nombre: Sol</p>
            <p>Coordenada X: 0</p>
            <p>Coordenada Y: 0</p>
            <p>Coordenada Z: 0</p>
            </p-panel>
        </div>
        </div>
        <div class="ui-g-12 transparent">
        <p-panel header="Agujeros de Gusano">
            <ul style="list-style-type: none; padding: 0;">
            <li>Agujero de Gusano 1</li>
            <li>Agujero de Gusano 2</li>
            </ul>
        </p-panel>
        <p-panel header="Planetas">
            <div style="margin-bottom: 1rem;">
            <h4>Mercurio</h4>
            <p>Factor Oferta: 1.2</p>
            <p>Factor Demanda: 0.8</p>
            <p>Stock: 50</p>
            <p>Nombre de Producto: Mineral X</p>
            </div>
            <div style="margin-bottom: 1rem;">
            <h4>Venus</h4>
            <p>Factor Oferta: 1.1</p>
            <p>Factor Demanda: 0.9</p>
            <p>Stock: 30</p>
            <p>Nombre de Producto: Gas Y</p>
            </div>
            <div style="margin-bottom: 1rem;">
            <h4>Tierra</h4>
            <p>Factor Oferta: 1.5</p>
            <p>Factor Demanda: 1.0</p>
            <p>Stock: 70</p>
            <p>Nombre de Producto: Agua Z</p>
            </div>
            <div style="margin-bottom: 1rem;">
            <h4>Marte</h4>
            <p>Factor Oferta: 1.3</p>
            <p>Factor Demanda: 0.7</p>
            <p>Stock: 20</p>
            <p>Nombre de Producto: Hierro W</p>
            </div>
        </p-panel>
        </div>
    </div>
    </p-dialog>

    <p-dialog #profile
    [position]="'bottom'"
    [maximizable]="true"
    [(visible)]="displayProfile"
    [breakpoints]="{ '960px': '50vw' }"
    [style]="{ width: '30vw' }"
    [draggable]="true"
    [resizable]="true">
    <div class="profile-info">
        <h2>Perfil del Usuario</h2>
        <p>Tiempo: 1:23:45</p>
        <p>Puntuación: 85</p>
        <p>Tiempo Máximo: 2:00:00</p>
        <p>Cuota: 75%</p>
    </div>
    </p-dialog>

  </div>

</div>
