<div class="card">
  <div class="dock-window dock-advanced">
      <p-dock [model]="dockItems" position="right">
          <ng-template pTemplate="item" let-item>
              <img [src]="item.icon" [alt]="item.label" width="100%" />
          </ng-template>
      </p-dock>

      <p-dialog #help
          [position]="'topleft'"
          [(visible)]="displayFinder"
          [breakpoints]="{ '960px': '50vw' }"
          [header]="'Ayuda'"
          [style]="{width: '525px', height: '600px',backgroundColor: 'transparent'}"
          [draggable]="true"
          [resizable]="true">
              <p-tree [value]="nodes" [style]="{backgroundColor: 'transparent', color:'white'}"/>
      </p-dialog>

      <p-dialog #terminal
          [maximizable]="true"
          [(visible)]="displayTerminal"
          [breakpoints]="{ '960px': '50vw' }"
          [header]="'Terminal'"
          [style]="{width: '525px', height: '600px'}"
          [draggable]="true"
          [resizable]="true">
              <p-terminal
                  welcomeMessage="Bienvenido aventurero espacial {{ currentDate | date:'HH:mm EEE, MMM d' }}"
                  prompt="terminal $" />
      </p-dialog>

      <p-dialog #ship
      [position]="'bottomleft'"
      [maximizable]="true"
      [header]="naveActual?.nombreNave || 'Nave'"
      [style]="{width: '525px', height: '600px'}"
      [(visible)]="displayInfo"
      [breakpoints]="{'960px': '50vw'}"
      [draggable]="true"
      [resizable]="true">

      <div *ngIf="naveActual; else noPartida">
          <div class="ui-g" style="display: flex; flex-direction: column; background-color: transparent; margin:20px; padding:20px;">
        <div style="display: flex; flex-direction: row; background-color: transparent; padding:20px;justify-content: space-around;align-items: center;">
            <div class="ui-g-12 ui-md-4" style="border-radius: 20px;">
                <img [src]="naveActual?.foto || 'default-image-url'" style="max-width: 256px; background-color: transparent; border-radius: 40px;">
            </div>
            <div class="ui-g-12 ui-md-8" style="background-color: transparent; border-radius: 40px; margin: 20px;">
                <p-panel header="{{naveActual?.nombreNave}}'s Stats">
                    <ul>
                        <li>Velocidad: {{naveActual?.velocidadMaxima}}</li>
                        <li>Carga: {{naveActual?.capacidadCarga}}/{{naveActual?.capacidadCarga}}</li>
                        <li>Tripulacion: {{naveActual?.tripulacion}}</li>
                    </ul>
                </p-panel>
            </div>
        </div>
        <div class="ui-g-12 transparent">
            <p-tabView class="transparent">
                <p-tabPanel header="Inventario" class="transparent">
                    <div class="inventory transparent" >
                        <div pBadge value="{{item.volumen}}" badgeSize="xlarge" class="inventory-item" *ngFor="let item of inventoryItems" >
                          <span>{{item.nombre}}</span>
                          <img [src]="item.imagen" alt="{{item.nombre}}" style="width: 100px; height: 100px;">
                        </div>
                    </div>
                </p-tabPanel>
            </p-tabView>
        </div>
      </div>
    </div>
    <ng-template #noPartida>
      <div class="lock-overlay">
        <div class="lock-icon"></div>
        <div class="lock-message">No tienes ninguna partida</div>
      </div>
    </ng-template>
</p-dialog>


      <p-dialog #star
      [position]="'bottomright'"
      [maximizable]="true"
      [(visible)]="displayStar"
      [breakpoints]="{'960px': '50vw'}"
      [header]="'Estrella'"
      [style]="{width: '525px', height: '600px'}"
      [draggable]="true"
      [resizable]="true">

      <div *ngIf="partidaExistente; else noPartida">
        <div class="ui-g" style="display: flex; flex-direction: column; background-color: transparent; margin:20px; padding:20px;">
          <div style="display: flex; flex-direction: row; background-color: transparent; padding:20px; justify-content: space-around; align-items: center;">
            <div class="ui-g-12 ui-md-4" style="border-radius: 20px;">
              <img [src]="estrellaSeleccionada?.imagen" style="max-width: 150px; background-color: transparent; border-radius: 10px;">
            </div>
            <div class="ui-g-12 ui-md-8" style="background-color: transparent; border-radius: 40px; margin: 20px;">
              <p-panel header="Información de la Estrella">
                <p>Nombre: {{ estrellaSeleccionada?.nombreEstrella }}</p>
                <p>Coordenada X: {{ estrellaSeleccionada?.coordenadaX }}</p>
                <p>Coordenada Y: {{ estrellaSeleccionada?.coordenadaY }}</p>
                <p>Coordenada Z: {{ estrellaSeleccionada?.coordenadaZ }}</p>
              </p-panel>
            </div>
          </div>
          <div class="ui-g-12 transparent">
            <p-panel header="Agujeros de Gusano">
              <ul style="list-style-type: none; padding: 0;">
              <li *ngFor="let agujero of estrellaSeleccionada?.agujerosDeGusano">
                {{ agujero.estrellaInicio.nombreEstrella }} a {{ agujero.estrellaFin.nombreEstrella }}
              </li>
              </ul>
            </p-panel>
            <p-panel header="Planetas">
              <div *ngFor="let planeta of estrellaSeleccionada?.planetas" style="margin-bottom: 1rem;">
                <h4>{{ planeta.nombrePlaneta }}</h4>
                <div *ngFor="let stock of planeta.inventario">
                  <p>Producto: {{ obtenerNombreProducto(stock.producto) }}</p>
                  <p>Factor Oferta: {{ stock.factorOferta }}</p>
                  <p>Factor Demanda: {{ stock.factorDemanda }}</p>
                  <p>Stock: {{ stock.stock }}</p>
                </div>
              </div>
            </p-panel>
          </div>
        </div>
      </div>
      <ng-template #noPartida>
        <div class="lock-overlay">
          <div class="lock-icon"></div>
          <div class="lock-message">No tienes ninguna partida</div>
        </div>
      </ng-template>
    </p-dialog>


    <p-dialog #profile
    [position]="'bottom'"
    [maximizable]="true"
    [(visible)]="displayProfile"
    [breakpoints]="{ '960px': '50vw' }"
    [header]="'Partida'"
    [style]="{width: '525px', height: '600px'}"
    [draggable]="true"
    [resizable]="true">

    <div *ngIf="partidaExistente; else noPartida">
      <div class="profile-info" style="padding: 20px; margin: 20px;">
        <h2>Perfil del Usuario</h2>
        <p>Tiempo: {{ partida?.tiempo}}</p>
        <p>Puntuación: {{ partida?.puntaje }}</p>
        <p>Tiempo Máximo: {{ partida?.tiempoMaximo | date:'HH:mm:ss' }}</p>
        <p>Cuota: {{ partida?.cuota }}%</p>
      </div>
    </div>
    <ng-template #noPartida>
      <div class="lock-overlay">
        <div class="lock-icon"></div>
        <div class="lock-message">No tienes ninguna partida</div>
      </div>
    </ng-template>
  </p-dialog>

  </div>

</div>
